html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

li:hover {
    background-color: #7D7D7D;
    color: white;
	cursor: pointer;
}

#searchMenu {
	position: absolute;
	top: 7%;
	left: 2%;
	max-width: 300px;
	height: 600px;
	background-color: green;
	z-index: 1;
	opacity: .7;
}

#searchBar {

}

#searchResults {
	padding: 0;
	list-style-type: none;
	max-height: 500px;
	overflow: auto;
}

.searchElem {
	padding: 3%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#map {
	height: 100%;
}

.infoContentBlock {
	max-width: 300px;
}

.iWTitle {
	font-size: 18px;
}

img {
	width: 100%;
	max-width: 250px;
}